* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  color: white;
}

#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.76);
  background-image: url(../assets/preview-411962-722lundHsI-high_0000.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 40px;
  align-items: center;
  padding: 20px;
  /* border: 3px solid rgba(255, 255, 255, 0.628); */
  border-radius: 10px;
  color: rgb(120, 200, 255);
  background-color: rgba(4, 4, 95, 0.817);
  background-image: url(../assets/preview-411962-722lundHsI-high_0000.jpg);
  text-decoration: overline;
}

#interface-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.76);
}

#button-container {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
}

.grid-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('../assets/pngtree-blue-information-technology-background-framelinepointblue-image_63400.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 800px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: calc(100% / 12);
  width: calc(100% / 14);
  color: black;
}

/* #start-button{
  display: flex;
  background-image: url(../assets/button1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 30px;
  width: 100px;
  border: 2px solid black;
} */

main {
  /* background-image: url(../assets/Background.jpeg); */
}

button {
  margin: 15px;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: 'Orbitron', sans-serif;
  color: rgb(120, 200, 255);
  background-color: rgba(0, 0, 0, 0.499);
}

.enemy {
  background-image: url(../assets/space-invader-alien-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.player {
  background-image: url(../assets/playerSpaceship.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.projectile {
  background-image: url(../assets/projectile1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


